<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://java.sun.com/jsf/composite" xmlns="http://java.sun.com/jsf/core" xmlns=""
      xmlns:v-bind="http://java.sun.com/jsf/html">
    <head>
        <meta charset="UTF-8">
        <title>Cool Surveys - Index</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js" type="text/javascript"></script>
        <script src= "index.js" defer></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="indexApp">

            <div id="welcomeView" v-if = "welcome">
                <header>
                    <h1>Cool Surveys</h1>
                </header>
                <div class = "buttons">
                    <button id="toLogin" v-on:click="()=>{login = true; welcome = false}">Login</button>
                    <button id="toRegistration" v-on:click="()=>{registration = true; welcome = false}">Register</button>
                </div>
            </div>

            <div id="loginView" v-if = "login">
                <form v-on:reset.prevent="resetLoginForm" v-on:submit.prevent="submitFormLoginRequest">
                    <h2>Login to start your daily survey!</h2>
                    <div class="form-field">
                        <!-- .trim to remove spaces from beginning and end of a field value-->
                        <label class="question" for="username">Username</label>
                        <input v-model.trim="username" type="text" id ="username" placeholder="Username" required/>
                    </div>
                    <div class="form-field">
                        <label class="question" for="password">Password</label>
                        <input v-model="password" type="password" id ="password" placeholder="Password" required/>
                    </div>

                    <div class="buttons">
                        <button type="reset" class="reset">Cancel</button>
                        <button type="submit"> Sign in </button>
                    </div>
                </form>
            </div>

            <div id="registrationView" v-if = "registration">
                <form v-on:reset.prevent="resetRegistrationForm" v-on:submit.prevent="submitRegisterRequest">
                    <h2>Registration</h2>
                    <div class="form-field">
                        <label class="question" for="email">Email</label>
                        <input v-model.trim="email" type="email" id="email" placeholder="you@example.com" required/>
                    </div>
                    <div class="form-field">
                        <label class="question" for="newUsername">Username</label>
                        <input v-model.trim="username" type="text" id ="newUsername" minlength="3" maxlength="15" placeholder="New Username" required/>
                    </div>
                    <div class="form-field">
                        <label class="question" for="newPassword">Password</label>
                        <input v-model="password" type="password" id="newPassword" minlength="1" maxlength="15" placeholder="New Password" required/>
                    </div>

                    <div class="form-field">
                        <label class="question" for="passwordConfirm">Confirm Password</label>
                        <input v-model="passwordConfirm" type="password" id="passwordConfirm" minlength="1" maxlength="15" placeholder="New Password" required/>
                    </div>
                    <span style = "color:red" v-if = "!validRegForm">Passwords do not correspond.</span>
                    <div class="buttons">
                        <button type="reset" class="reset">Exit</button>
                        <button type="submit" v-bind:disabled="!validRegForm">Register</button>
                    </div>
                </form>
            </div>
            <div class="errorMsg" v-if="message!==''">
                <label>{{ message }}</label>
            </div>
        </div>
    </body>
</html>