<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://java.sun.com/jsf/composite">
<head>
    <meta charset="UTF-8">
    <title>Cool Surveys - Home</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" type="text/javascript"></script>
    <script src= "home.js" defer></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="homeApp">
        <div id="homePage" v-if = "homepage">
            <h1>HomePage</h1>
            <h2 style="background:snow">Today's product: {{productOfTheDay}}</h2>
            <!-- Indirizzamento relativo a /static/product -->
            <!-- onerror="this.onerror=null;this.src='No-image.png';"-->
            <img :src="productImageSrc" style="height:200px; display: block; margin-left: auto; margin-right: auto;" alt="productOfTheDayImage">
            <div class="buttons">
                <button v-on:click="receiveLeaderboard">LeaderBoard</button>
                <button v-on:click="receiveSurvey">StartDailySurvey</button>
            </div>
        </div>

        <div class="formView">
            <div id="section1" v-if = "section1">
                <form v-on:reset.prevent="resetSection1Form" v-on:submit.prevent="advanceSurveySection">
                    <h2>What about today product?</h2>
                    <div class="form-field" v-for="(question,index) in questions1">
                        <label class="question" for="answer">{{question}}</label>
                        <div class="multipleChoiceQuestion" v-if="options1[index].length !== 0" v-for="option in options1[index]">
                            <input type="radio" v-model="answers1[index]" :value="option" :id="option" required>
                            <label :for="option">{{option}}</label>
                        </div>

                        <div class="productOpenQuestion" v-if="options1[index].length === 0">
                                            <textarea id="answer" v-model="answers1[index]" v-on:keyup="charCount(index)"
                                                      rows="5" cols="30" minlength="2" maxlength="100" required></textarea>
                            <div id="the-count">
                                <span id="current"> {{ totalCharacters }}</span>
                                <span id="maximum">/ 150</span>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="reset" class="reset">Cancel</button>
                        <button type="submit">Next</button>
                    </div>
                </form>
            </div>

            <div id="section2" v-if = "section2">
                <form v-on:reset.prevent="resetSection2Form" v-on:submit.prevent="submitSurvey">

                    <h2>Tell us something about you!</h2>

                    <div class="form-field" v-for="(question,index) in questions2">

                        <label v-if= "questions2Type[index] === 'radio'" class="question">{{question}}</label>
                        <div class="multipleChoiceQuestion" v-if="questions2Type[index] === 'radio'" v-for="option in options2[index]">
                            <input type="radio" v-model="answers2[index]" :value="option" :id="answer2Radio">
                            <label :for="answer2Radio">{{option}}</label>
                        </div>

                        <label v-if= "questions2Type[index] === 'number'" class="question" for="answer2Num">{{question}}</label>
                        <input v-model.number="answers2[index]" v-if="questions2Type[index] === 'number'" type="number" min="0" max="99" id="answer2Num"/>

                        <label v-if= "questions2Type[index] === 'options'" class="question" for="answer2Options">{{question}}</label>
                        <select v-if= "questions2Type[index] === 'options'" id="answer2Options" v-model="answers2[index]">
                            <option v-for="option in options2[index]" :value="option">{{option}}</option>
                        </select>
                    </div>

                    <div class="buttons">
                        <button type="reset" class="reset">Cancel</button>
                        <button v-on:click="goToPrevSection()">Previous</button>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>

            <div class ="errorMsg" v-if="message!==''">
                <label>{{ message }}</label>
            </div>
        </div>

        <div id = "leaderBoard"  v-if = "leaderboard">
            <header>
                <h1>LeaderBoard</h1>
            </header>
            <div class="scores">
                <table>
                    <th>Position</th>
                    <th scope="col">Username</th>
                    <th scope="col">Score</th>
                    <tr class="score" v-for="score in scores">
                        <td></td>
                        <td>{{ score[0] }}</td>
                        <td>{{ score[1] }}</td>
                    </tr>
                </table>
                <div class="buttons">
                    <button v-on:click="goToHomepage()">Back</button>
                </div>
            </div>
        </div>

        <div id="greetings" v-if = "greetings">
            <h1>Well Done!</h1>
            <p>Thanks for your time. You may have earned new points, check your position on the leaderboard!
                We hope to have you back soon!</p>
            <div class="buttons">
                <button v-on:click="goToHomepage">HomePage</button>
                <button v-on:click="receiveLeaderboard">LeaderBoard</button>
            </div>
            <div class ="errorMsg" v-if="message!==''">
                <label>{{ message }}</label>
            </div>
        </div>
    </div>
</body>
</html>